.videoClose {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  font-size: 28px;
  cursor: pointer;
  z-index: 99;
}

.videoPlayer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  z-index: 9;
}

.videoPlay {  
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin-top: -30px;
  margin-left: -50px;
  padding-left: 33px;
  border-radius: 45px;
  background-color: rgba(22, 1, 32, 0.75);
  font-size: 60px;
  cursor: pointer;
  z-index: 99;
}

.videoPlay:hover { 
  background-color: rgba(22, 1, 32, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoContainer {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #323A45;
  color: #eee;
  font-family: "Oswald", sansSerif;
  overflow: hidden;
}

.nodisp {
  display: none !important;
}